.container {
  padding: 4rem 1.2rem;
  overflow: hidden;
}

.main {
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .container {
    padding: 4rem 2.5rem;
  }

  .main {
    margin-top: 6rem;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
    /* background: pink; */
  }

  .main {
    margin-top: 4.3rem;
  }
}

.button__wrapper {
  max-width: 17rem;
  margin: 0 auto;
}
