.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingH2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ff0015;
  margin-bottom: 1rem;
}

.headingH3 {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 700;
}

.mainParagraph {
  font-size: 1rem;
  line-height: 130%;
  color: #707070;
}

.menuLinkText {
  font-size: 1rem;
  color: #707070;
  font-weight: 600;
}

.borderCircle {
  border-radius: 9999px;
}
